html {
    background-color: rgb(177, 177, 177);
}

footer {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(0, 0, 0);
    color:white;
    padding-bottom: 0.1%;
}

h1 {
    text-align: center;
    color:rgb(255, 255, 255);
}

.flex_banner {
    display: flex;
    gap: 10%;
    justify-content: center;
    margin :3%;
    margin-bottom: 3%;
    font-size: 120%;
}


.img_elon {
    background-color: black;
    text-align: center;
}

.companies {
    display: flex;
    gap: 5%;
}

.company {
    border: 3px solid black;
    border-radius: 10px;
}

.img_opac {
    opacity: 0.5;
}

.tesla {
    position: relative;
    overflow: hidden; /* évite que l'image dépasse */
    color:black;
    text-decoration: none;
}

.tesla::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/tesla.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;      /* transparence de l'image */
    z-index: 0;
}

.txt_opac {
    position: relative; 
    z-index: 1;        /* passe AU-DESSUS de l'image */
    font-size : 120%;
    margin : 5%;
}

.txt_bold {
    font-weight: bold;
}

h3 {
    text-align: center;
}

.spacex {
    position: relative;
    overflow: hidden; /* évite que l'image dépasse */
    color:black;
    text-decoration: none;
}

.spacex::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/spacex.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;      /* transparence de l'image */
    z-index: 0;
}

.neuralink {
    position: relative;
    overflow: hidden; /* évite que l'image dépasse */
    color:black;
    text-decoration: none;
}


.neuralink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/neuralink.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;      /* transparence de l'image */
    z-index: 0;
}

.neuralink a {
        display: inline-block;
}

.tesla a {
    display: inline-block;
}

.spacex a {
    display: inline-block;
}

.txt_blue {
    color:rgb(20, 20, 221);
    font-size: 100%;
}

.flex_footer {
    display: flex;
    gap: 20%;
    margin: 2%;
}

.flex_link {
    display: flex;
    gap:5%;
    flex-direction: column;

}

.txt_right {
    text-align: right;
}

.txt_white {
    color: white;
}