@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(177, 177, 177);
}

footer {
    background-color: rgb(255, 255, 255);
    padding-right:1%;
}

header {
    background-color: rgb(0, 0, 0);
    color:white;
    padding-bottom: 0.01%;
    margin-bottom: 5%;
    height: 150px;
}

h1 {
    text-align: center;
    color:rgb(255, 255, 255);
    margin:0%;
}

h2 {
    margin-left: 2%;
}

.flex_banner {
    display: flex;
    gap: 10%;
    justify-content: center;
    margin :3%;
    margin-bottom: 3%;
    font-size: 120%;
    align-items: center;
    margin-top: 2%;
}

.txt_orbitron {
    font-family: 'Orbitron', sans-serif;
}

.txt_roboto {
    font-family: 'Roboto', sans-serif;
}

.txt_center {
    text-align: center;
}


.flex_elon {
    display: flex;
    background-color: black;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    padding: 2%;
    margin-bottom: 5%;
}

.txt_presentation {
    border: 3px solid rgb(44, 44, 44);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5;
    font-size: 120%;
    padding: 1%;
}

.presentation {
    font-size:120%;
    margin-bottom: 7%;
}

.margin {
    margin-left: 2%;
    margin-right: 2%;
}

.margin_top {
    margin-top: 3%;

}

.flex_transparent {
    display: flex;
    gap: 5%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
}

.border_radius {
    border: 3px solid black;
    border-radius: 10px;
}

.add_size:hover {
  box-shadow: 0 16px 60px rgba(0,0,0,0.25);
  transform: scale(1.02);
}

.img_opac {
    opacity: 0.5;
}

.tesla {
    position: relative;
    overflow: hidden; /* évite que l'image dépasse */
    color:black;
    text-decoration: none;
}

.tesla::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/tesla.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;      /* transparence de l'image */
    z-index: 0;
}

.txt_opac {
    position: relative; 
    z-index: 1;        /* passe AU-DESSUS de l'image */
    font-size : 120%;
    margin : 5%;
}

.txt_bold {
    font-weight: bold;
}

h3 {
    text-align: center;
}

.spacex {
    position: relative;
    overflow: hidden; /* évite que l'image dépasse */
    color:black;
    text-decoration: none;
}

.spacex::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/spacex.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;      /* transparence de l'image */
    z-index: 0;
}

.neuralink {
    position: relative;
    overflow: hidden; /* évite que l'image dépasse */
    color:black;
    text-decoration: none;
}


.neuralink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/neuralink.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;      /* transparence de l'image */
    z-index: 0;
}

.neuralink a {
        display: inline-block;
}

.tesla a {
    display: inline-block;
}

.spacex a {
    display: inline-block;
}

.txt_blue {
    color:rgb(20, 20, 221);
    font-size: 100%;
}

.flex_footer {
    display: flex;
    gap: 20%;
    margin: 2%;
}

.flex_link {
    display: flex;
    gap:5%;
    flex-direction: column;

}

.txt_right {
    text-align: right;
}

.txt_white {
    color: white;
    text-decoration: none;
}
