@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------*/
/* ------------------- BASE ----------------------*/
/* -----------------------------------------------*/

html {
    background-color: rgb(177, 177, 177);
}

footer {
    background-color: rgb(255, 255, 255);
    padding-right: 1%;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 0.01%;
    margin-bottom: 6%;
    height: 150px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    margin-left: 2%;
}

h3 {
    text-align: center;
}

.txt_orbitron {
    font-family: 'Orbitron', sans-serif;
}

.txt_roboto {
    font-family: 'Roboto', sans-serif;
}

.txt_center {
    text-align: center;
}

.txt_right {
    text-align: right;
}

.txt_white {
    color: white;
    text-decoration: none;
}

.txt_bold {
    font-weight: bold;
}

.txt_blue {
    color: rgb(20, 20, 221);
    font-size: 100%;
}

/* -----------------------------------------------*/
/* ------------------ BANNERS --------------------*/
/* -----------------------------------------------*/

.flex_banner {
    display: flex;
    gap: 10%;
    justify-content: center;
    margin: 2% 0 3% 0;
    font-size: 120%;
    align-items: center;
}

/* -----------------------------------------------*/
/* --------------- PRESENTATION ------------------*/
/* -----------------------------------------------*/

.flex_elon {
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    padding: 2%;
    margin-bottom: 5%;
}

.txt_presentation {
    border: 3px solid rgb(44, 44, 44);
    border-radius: 10px;
    background-color: white;
    margin: 2% 15%;
    line-height: 1.5;
    font-size: 120%;
    padding: 1%;
}

.presentation {
    font-size: 120%;
    margin-bottom: 7%;
}

.margin {
    margin: 0 2%;
}

.margin_top {
    margin-top: 3%;
}

/* -----------------------------------------------*/
/* ----------------- SECTIONS --------------------*/
/* -----------------------------------------------*/

.flex_transparent {
    display: flex;
    gap: 5%;
    margin: 0 2%;
    justify-content: center;
}

.border_radius {
    border: 3px solid black;
    border-radius: 10px;
}

.add_size:hover {
    box-shadow: 0 16px 60px rgba(0,0,0,0.25);
    transform: scale(1.02);
}

.img_opac {
    opacity: 0.5;
}

/* -----------------------------------------------*/
/* --------------- BACKGROUND BOXES --------------*/
/* -----------------------------------------------*/

.tesla,
.spacex,
.neuralink {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color:black
}

.tesla::before,
.spacex::before,
.neuralink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.6;
}

.tesla::before {
    background-image: url('./images/tesla.jpg');
}

.spacex::before {
    background-image: url('./images/spacex.jpg');
    opacity: 0.6;
}

.neuralink::before {
    background-image: url('./images/neuralink.jpg');
    opacity: 0.6;
}

.txt_opac {
    position: relative;
    z-index: 10;
    font-size: 120%;
    margin: 5%;
}

.tesla a,
.spacex a,
.neuralink a {
    display: inline-block;
}

/* -----------------------------------------------*/
/* ------------------ FOOTER ---------------------*/
/* -----------------------------------------------*/

.flex_footer {
    display: flex;
    gap: 20%;
    margin: 2%;
    justify-content: center;
    text-align: center;
}

.flex_link {
    display: flex;
    gap: 5%;
    flex-direction: column;
}

/* -----------------------------------------------*/
/* -------------- RESPONSIVE PART ----------------*/
/* -----------------------------------------------*/

/* ---------- TABLETTES ---------- */

@media (max-width: 1024px) {

    header {
        height: auto;
        padding: 20px 0;
    }

    .flex_banner {
        flex-wrap: nowrap;      /* reste sur une seule ligne */
        gap: 10px;               /* espace réduit */
        justify-content: center;
        flex-direction: row;
    }

    .flex_banner * {
        transform: scale(0.90); 
        white-space: nowrap;    /* pas de retour à la ligne */
    }

    .txt_presentation {
        margin: 3% 10%;
        font-size: 110%;
    }

    .flex_transparent {
        gap: 3%;
    }

    .flex_footer {
        gap: 10%;
    }
}


/* ---------- SMARTPHONES ---------- */

@media (max-width: 600px) {

    header {
        height: auto;
        padding: 15px 0;
    }

    h1 {
        font-size: 150%;
    }

    .flex_banner {
        flex-wrap: nowrap;      /* reste sur une seule ligne */
        gap: 5px;
        justify-content: center;
        flex-direction: row;
    }

    .flex_banner * {
        transform: scale(0.75); /* réduction de 25% */
        white-space: nowrap;    /* pas de retour à la ligne */
    }

    .txt_presentation {
        margin: 5% 5%;
        font-size: 100%;
        padding: 3%;
    }

    .presentation {
        font-size: 105%;
    }

    .flex_transparent {
        flex-direction: column;
        gap: 20px;
        margin: 5%;
    }

    .txt_opac {
        font-size: 105%;
    }

    .flex_footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .txt_right {
        text-align: center;
    }
}
